<h2>Program</h2>
{form program}
<div id="sandbox-container" class="ajax">
	{input time}
	{input cinema}
	{input find}
</div>
{/form}
<script>
$('#sandbox-container #datepicker').datepicker({
    autoclose: true
});
</script>